<%- include('../includes/head.ejs') %>
  <%- include('../includes/navigation.ejs') %>
  
  <div class="container border border-dark rounded">
      <form class="product-form mt-3" action="/admin/edit-update" method="POST">
      <!-- title -->

      <div class="form-group">
          <label for="title">ID </label>
          <input class="form-control" type="text" name="id" id="id" value="<% if (editing) { %><%= update.id %><% } %>" readonly >
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" value="<% if (editing) { %><%= update.title %><% } %>" required>
      </div>
      <!-- description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea  class="form-control" name="description" id="description" rows="3" required><% if (editing) { %><%= update.description %><% } %></textarea>
      </div>
      <!-- expiry -->
      <div class="form-group">
          <label for="expiry">Expiry</label>
          <input type="date" class="form-control" name="expiry" id="expiry" value="<% if (editing) { %><%= update.expiry %><% } %>" required>
      </div>
      <!-- level -->
     
      <% if(access_level == 'UNI'){ %>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="level"  value="UNI" id="UNI" <% if (update.level =="UNI") { %>
            checked
          <% } %> >
          <label class="form-check-label" for="university">
            University
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="level"  value="CSE" id="CSE" <% if (update.level =="CSE") { %>
            checked
          <% } %>>
          <label class="form-check-label" for="CSE">
            Computer Science
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="level"  value="ECE" id="ECE" <% if (update.level =="ECE") { %>
            checked
          <% } %>>
          <label class="form-check-label" for="ECE">
            Electronics and Communication
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="level"  value="EEE" id="EEE" <% if (update.level =="EEE") { %>
            checked
          <% } %>>
          <label class="form-check-label" for="EEE">
            Electrical and Electronics
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="level"  value="ME" id="ME"<% if (update.level =="ME") { %>
            checked
          <% } %>>
          <label class="form-check-label" for="ME">
            Mechanical Engineering
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="level"  value="CE" id="CE" <% if (update.level =="CE") { %>
            checked
          <% } %>>
          <label class="form-check-label" for="CE">
            Civil Engineering
          </label>
        </div>
      <% } %>
      <% let lev;
          if (access_level == "CSE") { lev = "Computer Science";}
          if (access_level == "EEE") { lev = "Electrical and Electronics";}
          if (access_level == "ECE") { lev = "Electronics and Communication";}
          if (access_level == "ME") { lev = "Mechanical Engineering";}
          if (access_level == "CE") { lev = "Civil Engineering";}
         %>
      <% if(access_level != 'UNI'){ %>
        <div class="form-check">
          <label ><%= lev%></label>
          <input class="form-control" type="text" name="level" id="level" value="<% if (editing) { %><%= update.level %><% } %>" hidden >
        </div>
      <% } %>

      <button type="submit" class="btn btn-primary mt-3 mb-3">Update</button>

    </form>
  </div>

<%- include('../includes/end.ejs') %>